@model IEnumerable<IsabellaBirdBlog.Models.Experience>

@{
    ViewData["Title"] = "Isabella Bird Blog - Experiences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Experiences</h2>

<table class="table">

    @foreach (var listExperience in Model)
    {
        <tr>
            <td>
                @listExperience.ExperienceName
            </td>
            <td>
                @listExperience.ExperienceDesc
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = listExperience.ExperienceId }) |
                @Html.ActionLink("Edit", "Edit", new { id = listExperience.ExperienceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listExperience.ExperienceId })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Add new Experience", "Create")
