@model IsabellaBirdBlog.Models.Location

@{
    ViewData["Title"] = "Location - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<hr />
    Location Name: @Html.DisplayFor(model => model.LocationName)

    <p>@Html.DisplayFor(model => model.GeoClass)</p>


    <p>@Html.ActionLink("Back to list", "Index")</p>

    <h4>Experiences:</h4>
    @*<table class="table">
        @foreach (var teamPlayer in ViewBag.Players)
        {
            <tr>
                <td>
                    @teamPlayer.PlayerName
                </td>
                <td>
                    @teamPlayer.PlayerNumber
                </td>
                <td>
                    @teamPlayer.PlayerPosition
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPlayer", new { id = teamPlayer.PlayerId }) |
                    @Html.ActionLink("Delete", "DeletePlayer", new { id = teamPlayer.PlayerId })
                </td>
            </tr>
        }
    </table>*@